<h3>Create a Delicious Food!</h3>

<form action="/foods" method="post">
	<label>Name: </label>
	<input type="text" name="food[name]"></br>
	<label>Description: </label>
	<input type="text" name="food[description]" ></br>
	<label>Thoughts: </label>
	<input type="text" name="food[thoughts]" ></br>
	<label>Imgage Link: </label>
	<input type="text" name="food[img_url]" ></br>


	<input type="submit" value="Submit">
</form>

<p><%= link_to "Back", foods_path%></p>